* {
    padding: 0;
    margin: 0;
}

canvas {
    border: 1px solid #d3d3d3;
    background-color: #0a132d;
    margin: 0 auto;
    display: block;
}

div {
    text-align: center;
    width: 480px;
}
