* {
    padding: 0;
    margin: 0;
}

body {
    background: rgba(10, 19, 45, 1);
    background: radial-gradient(
        circle,
        rgba(10, 19, 45, 1) 0%,
        rgba(3, 9, 27, 1) 100%
    );
    display: flex;
    justify-content: center;
}

canvas {
    border: 0.5px rgba(255, 255, 255, 0.5) solid;
    background-color: #0a132d;
    display: block;
    cursor: none;
    border-radius: 5px;
}

div {
    height: 100vh;
    align-content: center;
}
